<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Promotion</title>
    <h:outputStylesheet name="core/css/bootstrap.min.css"/>
    <h:outputStylesheet name="core/css/jquery.dataTables.min.css"/>
</h:head>

<h:body>
    <div id="pageContent">
        <div class="container-fluid">
            <table id="promoTable" class="display">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <h:outputScript library="core" name="jquery/jquery-3.3.1.min.js"/>
    <h:outputScript library="core" name="popper/popper.min.js"/>
    <h:outputScript library="core" name="js/bootstrap.min.js"/>
    <h:outputScript library="core" name="jquery/jquery.dataTables.min.js"/>
    <h:outputScript library="js" name="datatable.js"/>
</h:body>
</html>
